<div class="row">
	<div class="col-md-12">
		<h1><%= @query.name%></h1>
		<br>
		<p>
			<a href="<%= url_for(:action => 'show', :controller => "interpreter/#{@query.interpreter}", :id => @query.id, :format => 'csv') %>" class="btn"><i class="icon-download"></i> download csv</a>
		</p>
		<br>
		<p class="lead">
			<%= @query.description%>
		</p>
		<% if @query.data_source %>
		  <p class="muted">
		  	Source: <%= @query.data_source.name%>
		  </p>
		<% end %>
		<br>
		<div id='chart'></div>
		<%= render_chart(@chart, 'chart') %>

		<a href="<%= url_for(:action => 'start', :controller => '/facade') %>" class="btn"><i class="icon-backward"></i> back</a>

	</div>
</div>