%table.table.table-striped.table-bordered{:cellspacing => "0", :width => "100%", :id => "table-#{@query.id}"}
  %thead
    %tr
      - @data_to_present.first.each do |k,v|
        %th= k
  %tbody
    - @data_to_present.each do |d|
      %tr
        - d.each do |k,v|
          %td
            = v
  %tfoot
    %tr
      - @data_to_present.first.each do |k,v|
        %th
          %input.search_init{:name => k, :size => "10", :type => "text", :value => "Filtern "}/




:javascript
  var asInitVals = new Array();
  $(document).ready(function() {
    var oTable = $('#table-#{@query.id}').DataTable({
      "scrollX": true,
     "drawCallback": function( settings ) {
       $(".dataTables_wrapper").css("width","#{@layout[:width]}px");
     }
    });

    $("tfoot input").keyup( function () {
    /* Filter on the column (the index) of this element */
      oTable.fnFilter( this.value, $("tfoot input").index(this) );
    } );


    /*
    * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
    * the footer
    */
    $("tfoot input").each( function (i) {
      asInitVals[i] = this.value;
    } );

    $("tfoot input").focus( function () {
      if ( this.className == "search_init" )
      {
        this.className = "";
        this.value = "";
      }
    } );

    $("tfoot input").blur( function (i) {
      if ( this.value == "" )
      {
        this.className = "search_init";
        this.value = asInitVals[$("tfoot input").index(this)];
      }
    } );
  } );