.navbar.navbar-light.bg-faded.navbar-static-top
  %a.navbar-brand{:href => "/"}
    = ENV['APP_NAME']
  %ul.nav.navbar-nav
    %li.nav-item.active

    .pull-xs-right
      - if is_admin?
        %li.nav-item
          = link_to "Admin", "/admin" , class: "nav-link"
      - if current_user
        %li.nav-item
          = image_tag(image_or_placeholder(current_user.image), height: 36, weight: 36)
          = name_or_email(current_user)
        %li.nav-item
          = link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn-sm btn btn-danger-outline')

