%div{id:"gauge-#{@query.id}", style: inline_dimension(@layout)}


:javascript
  var asInitVals = new Array();
  $(document).ready(function() {
    var g = new JustGage({
      id: "gauge-#{@query.id}",
      value: #{@data_to_present.data['value']},
      min: #{@data_to_present.data['min']},
      max: #{@data_to_present.data['max']},
      title: "#{@query.name}"
    });
  });


