.container.start
  %div{id:"card_list"}
    %fieldset.form-group
      %input.form-control.form-control-lg.search{:placeholder => "Search", :type => "text"}
        - if @queries.empty? && @dashboards.empty?
          %br
          .jumbotron
            %h1
              Daviql says "Hello"
            %p
              It seems that you do not have access to any reports.
              %br
              So please ask your local administrator for access and don't foget to bring a coffee ;)
    .row
      .list
        - @dashboards.each do |dashboard|
          .col-md-4
            .card
              %h4.card-header
                = fa_icon "dashboard"
                = dashboard.name
                %span.pull-right
                  \#
                  = dashboard.id
              .card-block
                %p.card-text
                  = truncate(dashboard.description, :length => 20  )
              .card-footer
                %a.btn.btn-primary{:href => "#{dashboard_path(dashboard)}"} Show dashboard
        - @queries.each do |q|
          .col-md-4
            .card.query
              = render_card(q)
:javascript
    $(document).ready( function() {
      var options={valueNames:['card-header', 'card-text']};
      var cardlist = new List('card_list', options);
    } );
