.container.start
  %div{id:"card_list"}
    %fieldset.form-group
      %input.form-control.form-control-lg.search{:placeholder => "Search", :type => "text"}
        - if @queries.empty? && @dashboards.empty?
          .jumbotron
            %h1
              Hello Daviql
            %p
              Just some text
    %ul.list.row
      - @dashboards.each do |dashboard|
        %li.col-md-4
          .card
            .card-block
              %h4.card-title
                = fa_icon "dashboard"
                = dashboard.name
                %span.pull-right
                  \#
                  = dashboard.id
              %p.card-text
                = truncate(dashboard.description, :length => 20  )
              %a.btn.btn-primary{:href => "#{dashboard_path(dashboard)}"} Show dashboard
      - @queries.each do |q|
        %li.col-md-4
          .card.query
            = render_card(q)
:javascript
    $(document).ready( function() {
      var options={valueNames:['card-title', 'card-text']};
      var cardlist = new List('card_list', options);
    } );
